.header__lang-link {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  -webkit-transform: translate(2px, 7px);
      -ms-transform: translate(2px, 7px);
          transform: translate(2px, 7px);
}

.header__lang-link:not(:first-child) {
  margin-left: 14px;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
  }
}
