.lead__title {
  margin: 0 auto 32px auto;
  padding: 0;
  max-width: 720px;
  width: 100%;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
  -webkit-transform: translate(1px, 1px);
      -ms-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}

@media screen and (max-width: 720px){
  .lead__title {
    margin: 0 auto 25px auto;
    max-width: 425px;
    height: 120px;
    font-size: 55px;
    line-height: 60px;
  }
}

@media screen and (max-width: 424px){
  .lead__title {
    margin: 0 auto 16px auto;
    max-width: 288px;
    height: 88px;
    font-size: 40px;
    line-height: 44px;
  }
}
