.lead__title {
  margin: 0 auto 32px auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #FFFFFF;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 767px){
  .lead__title {
    margin: 0 auto 25px auto;
    max-width: 425px;
    font-size: 55px;
    line-height: 60px;
  }
}

@media screen and (max-width: 424px){
  .lead__title {
    margin: 0 auto 16px auto;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
