.photo-grid__table {
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(250px, 400px) 16px minmax(250px, 400px) 16px minmax(250px, 400px) 16px minmax(250px, 400px);
  grid-template-columns: repeat(4, minmax(250px, 400px));
  -ms-grid-rows: 213px 16px 213px 16px 213px;
  grid-template-rows: repeat(3, 213px);
  grid-gap: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}.photo-grid__table > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}.photo-grid__table > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}.photo-grid__table > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}.photo-grid__table > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}.photo-grid__table > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}.photo-grid__table > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}.photo-grid__table > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}.photo-grid__table > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}.photo-grid__table > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}.photo-grid__table > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}.photo-grid__table > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}.photo-grid__table > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

@media screen and (max-width: 1279px) {
  .photo-grid__table {
    -ms-grid-columns: minmax(250px, 400px) 14px minmax(250px, 400px) 14px minmax(250px, 400px);
    grid-template-columns: repeat(3, minmax(250px, 400px));
    -ms-grid-rows: 225px 14px 225px 14px 225px 14px 225px;
    grid-template-rows: repeat(4, 225px);
    grid-gap: 14px;
  }
  .photo-grid__table > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .photo-grid__table > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .photo-grid__table > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .photo-grid__table > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .photo-grid__table > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .photo-grid__table > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .photo-grid__table > *:nth-child(7) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .photo-grid__table > *:nth-child(8) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .photo-grid__table > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
  .photo-grid__table > *:nth-child(10) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .photo-grid__table > *:nth-child(11) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .photo-grid__table > *:nth-child(12) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__table {
    -ms-grid-columns: minmax(250px, 400px) 16px minmax(250px, 400px);
    grid-template-columns: repeat(2, minmax(250px, 400px));
    -ms-grid-rows: 264px 16px 264px 16px 264px 16px 264px 16px 264px 16px 264px;
    grid-template-rows: repeat(6, 264px);
    grid-gap: 16px;
  }
  .photo-grid__table > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .photo-grid__table > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .photo-grid__table > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .photo-grid__table > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .photo-grid__table > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .photo-grid__table > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .photo-grid__table > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .photo-grid__table > *:nth-child(8) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .photo-grid__table > *:nth-child(9) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .photo-grid__table > *:nth-child(10) {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
  }
  .photo-grid__table > *:nth-child(11) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
  .photo-grid__table > *:nth-child(12) {
    -ms-grid-row: 11;
    -ms-grid-column: 3;
  }
}

@media screen and (max-width: 650px) {
  .photo-grid__table {
    -ms-grid-columns: minmax(250px, 400px);
    grid-template-columns: minmax(250px, 400px);
    -ms-grid-rows: none;
    grid-template-rows: none;
    grid-auto-rows: 216px;
    grid-gap: 12px;
  }
  .photo-grid__table > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}
